

<div class="main-content">

    <!-- <p>home works!</p> -->
    <section class="banner">
        <h1 class="banner-text">About</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/profile2.jpg" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12" style="padding: 20px 0;">
                <h6 class=" para" >
                  I am Ashutosh Kumar, a B.Tech graduate from NIT Patna, with 3+ years of experience in Software Development. Currently, I am employed at Digantara, a space-based startup.
                </h6>
                <br>
                 <h6 class=" para" >
                  As a founding member of the software team, I've initiated entire application lifecycles, translating core physics principles into scalable logic. My expertise includes comprehensive architecture design, implementation of relational databases (Postgres, TimescaleDB), and developing multiple microservices using Nest.js, Python, and Golang.
                </h6>
                    <br>
                    <h6 class=" para" > I specialize in orchestrating efficient microservices through Dockerization, deploying strategies on AWS, and ensuring seamless inter-process communication via RabbitMQ and Job Queue table integration.
                    </h6>
                    <br>
                    <h6 class=" para" > Proficient in frontend technologies such as Vue.js and Three.js, I lead projects with precision, optimizing performance and maintainability.</h6>
            </div>
        </div>
        <h4>Education</h4>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <!-- <img src="../../assets/profile2.jpg" id="icon" alt="User Icon" /> -->
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul style="text-align: left;">
                    <li class="para" style="font-weight: bold;">National Institue of Technology, Patna</li>
                    <span class="text-item">B.Tech,</span> &nbsp;<span  class="text-item">Computer Science and Engineering</span><br>
                    <span class="text-item">CGPA : 7.86</span>
                    <li class="para" style="font-weight: bold;">Himalayan Public School, Patna</li>
                    <span class="text-item">12th,</span> &nbsp;<span  class="text-item">Physics, Chemistry and Maths</span><br>
                    <span class="text-item">Percentage : 80%</span>
                    <li class="para" style="font-weight: bold;">Himalayan Public School, Patna</li>
                    <span class="text-item">10th,</span> &nbsp;<span  class="text-item">Science</span><br>
                    <span class="text-item">CGPA : 10</span>
                </ul>
            </div>
        </div>
    </section>

    <input class="more" type="button" value="Read More >>>" [routerLink]="'/project'">





</div>
