

<div class="main-content">

    <!-- <p>home works!</p> -->
    <section class="banner">
        <h1 class="banner-text">About</h1>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="../../assets/profile2.jpg" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12" style="padding: 20px 0;">
                <h6 class=" para" >
                    I am Ashutosh Kumar, final year B.Tech student of Nit Patna, graduating in 2021.
                    I am doing a Full Stack Developer Intern at Docty Inc. 
                </h6>
                <br>
                 <h6 class=" para" >
                             I have a good understanding of JavaScript, TypeScript, Angular, Node, Java, React, Data Structure and Algorithm. 
                             I have good coding and problem solving skills. I am a regular coder at codeforces.
                </h6>
                    <br>
                    <h6 class=" para" >I have past experience of Frontend as well as Backend Development where I used a lot of technologies including HTML5, CSS, JavaScript, TypeScript, Angular, django, node.
                        Currently, working as Full Stack Developer at Docty Inc where I learnt a lot of technologies and explored deep into it, in these 5 months.
                    </h6>
                    <br>
                    <h6 class=" para" >  I focus on learning and enjoys exploring more and more.</h6>
            </div>
        </div>
        <h4>Education</h4>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <!-- <img src="../../assets/profile2.jpg" id="icon" alt="User Icon" /> -->
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul style="text-align: left;">
                    <li class="para" style="font-weight: bold;">National Institue of Technology, Patna</li>
                    <span class="text-item">B.Tech,</span> &nbsp;<span  class="text-item">Computer Science and Engineering</span><br>
                    <span class="text-item">CGPA : 7.86</span>
                    <li class="para" style="font-weight: bold;">Himalayan Public School, Patna</li>
                    <span class="text-item">12th,</span> &nbsp;<span  class="text-item">Physics, Chemistry and Maths</span><br>
                    <span class="text-item">Percentage : 80%</span>
                    <li class="para" style="font-weight: bold;">Himalayan Public School, Patna</li>
                    <span class="text-item">10th,</span> &nbsp;<span  class="text-item">Science</span><br>
                    <span class="text-item">CGPA : 10</span>
                </ul>
            </div>
        </div>
    </section>



 


</div>
