

<div class="main-content">

    <!-- <p>home works!</p> -->
    <section class="banner">
        <h1 class="banner-text">Experience</h1>
    </section>
    
    <section class="content">
        <h4 style="text-align: center;">Full Stack Developer Intern</h4>
        <span>Docty Inc,</span>&nbsp;<span> Feb 2021 - June 2021</span>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/docty.PNG" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul style="text-align: left;">
                    <li class="para">Working on Doctor portal, Patient portal and website.</li>
                    <li class="para">Developed
                        lab and pharmacy page in website having various functionalities
                        including search and filter.</li>
                    <li class="para">Using javaScript, TypeScript and Angular framework for the development of different pages in the portals and website.
                    </li>
                </ul>
                <a href="https://doctyindia.com/" target="_blank"> <h6>Click here to view</h6></a>
            </div>
        </div>
        <br>   
        <h4 style="text-align: center;">Back End Developer Intern</h4>
        <span>Nfilade Security Solutions Pvt. Ltd.,</span><br><span> May 2020 - June 2020</span>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/silverline.PNG" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul style="text-align: left;">
                    <li class="para">Worked on a project titled “Silverlining”, a web application aimed
                        to launch for the benefit of the people staying in the disaster
                        prone areas.</li>
                    <li class="para">Developed the back-end functionalities of the website using
                        Django REST framework, 2Factor and SMTP packages.</li>
                    <li class="para">EDeveloped the user authentication system, model design for dif-
                        ferent disasters and REST API end points to be used for GET and POST requests.</li>
                </ul>
                <a href="https://www.silverlining-global.com/" target="_blank"> <h6>Click here to view</h6></a>
            </div>
        </div>
        <br>   
        <h4 style="text-align: center;">Front End Developer Intern</h4>
        <span>Deo Biz & Services Pvt Ltd.,</span>&nbsp;<span> June 2019 - July 2019</span>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/deobiz.PNG" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul style="text-align: left;">
                    <li class="para">Developed a well organized User Interface to show all the data in
                        an organised way according to the need of the employee to hide
                        sensitive data and avoid confusions.</li>
                    <li class="para">Utilised HTML5, CSS and JavaScript as frontend, JAVA as back-
                        end and MongoDB as database.</li>
                    <li class="para">A portal having login page along with seven different pages ac-
                        cording to the need of the employees including dashboard, sim detail page, device detail page, unit installed in page, user role
                        page, account page and profile page.</li>
                </ul>
                <a href="https://deobiz.com/" target="_blank"> <h6>Click here to view</h6></a>
            </div>
        </div>
        <br>   
    </section>



 


</div>
