

<div class="main-content">

    <!-- <p>home works!</p> -->
    <section class="banner">
        <h1 class="banner-text">Projects</h1>
    </section>
    
    <section class="content">
        <h4 style="text-align: center;">My Portfolio</h4>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/portfolio.PNG" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul style="text-align: left;">
                    <li class="para">Created Portfolio using Angular</li>
                    <li class="para">Creatd multiple components having about, projects, experience and, header and footer as common component</li>
                    <li class="para">Establised routing among them</li>
                </ul>
                <a href="https://sukul9015.github.io/my-portfolio/" target="_blank"> <h6>Click here to view</h6></a>
            </div>
        </div>
        <br>    
        <h4 style="text-align: center;">Students Grievance Support System</h4>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/grievance.JPG" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul style="    text-align: left;">
                    <li class="para">Student Grievance Support System to handle grievances of students at various levels.</li>
                    <li class="para">Separate authentication system for admin and students.</li>
                    <li class="para">Created single page application with JQuery using AJAX</li>
                    <li class="para">Developed Web API in DJANGO REST Framework.</li>
                </ul>
                <a href="https://gportal.netlify.app/" target="_blank"> <h6>Click here to view</h6></a>
            </div>
        </div>
        <br>
        <h4 style="text-align: center;">Emotion recognition using Speech</h4>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/cnn.png" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul style="    text-align: left;">
                    <li class="para">Using the concepts of deep learning, emotion is predicted from
                        the speech data.</li>
                    <li class="para">Dialogues are broken down into the sentences. Each sentence
                        consist of feature vector and time matrix. These data are passed
                        through spectogram, and then through LSTM and CNN model to
                        learn and predict the nature of speech.</li>
                    <li class="para">Using SMOTE to balance the minority class data in order to improve the accuracy.</li>
                </ul>
            </div>
        </div>
    </section>



 


</div>
