

<div class="main-content">

    <!-- <p>home works!</p> -->
    <section class="banner">
        <h1 class="banner-text">Contact</h1>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-lg-6 col-sm-12 box">
                <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/contact.jpg" id="icon" alt="User Icon" />
            </div>
            <div class="col-lg-6 col-sm-12 box">
                <h6 class=" para" >
                    If you have any interesting project to work on, just ping me!
                </h6>
                <br>
                <h5 style="text-decoration: underline;">Contact Details</h5><br>
                <ul style="text-align: left;">
                    <li class="para" style="font-weight: bold;">Email Id</li>
                    <span class="text-item">ashutosh.kmr9015@gmail.com</span>
                    <li class="para" style="font-weight: bold;">Contact Number</li>
                    <span class="text-item">+91-9110191871</span>
                    <li class="para" style="font-weight: bold;">Address</li>
                    <span class="text-item">Badi Patan Devi ka Garha,</span><br>
                    <span class="text-item">Gulzarbagh,</span><br>
                    <span class="text-item">Patna,</span><br>
                    <span class="text-item">Bihar - 800007</span><br>
                </ul>

            </div>
        </div>
    </section>

    <input class="more" type="button" value=" < Back to Home Page" [routerLink]="'/'">

 


</div>
