
<div class="footer">
    <!-- <p>footer works!</p> -->
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h5 style="text-decoration: underline;">Address</h5><br>
            <span>Badi Patan Devi ka Garha,</span><br>
            <span>Gulzarbagh,</span><br>
            <span>Patna,</span><br>
            <span>Bihar - 800007</span><br>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h5 style="text-decoration: underline;">Let's Connect</h5><br>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
            <a href="#" class="fa fa-facebook"></a>
        </div>
    </div>
</div>
  