
<div class="footer">
    <!-- <p>footer works!</p> -->
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h5 style="text-decoration: underline;">Address</h5><br>
            <span>Badi Patan Devi ka Garha,</span><br>
            <span>Gulzarbagh,</span><br>
            <span>Patna,</span><br>
            <span>Bihar - 800007</span><br>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h5 style="text-decoration: underline;">Let's Connect</h5><br>
            <!-- <a href="#" class="fa fa-google"></a> -->
            <a href="https://www.linkedin.com/in/ashutosh-kumar-659bb5145/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://github.com/sukul9015" class="fa fa-github" target="_blank"></a>
            <a href="https://www.facebook.com/profile.php?id=100011430640170" class="fa fa-facebook" target="_blank"></a>
        </div>
    </div>
</div>
  