

<div class="main-content">

    <!-- <p>home works!</p> -->
    <section class="banner">

        <div class="wrapper fadeInDown">
                <div class="fadeIn first">
                    <h1 class="banner-text">HEY !</h1>
                    <br>
                    <div class="row">
                        <div class="col-sm-12" *ngIf="is_mobile">
                            <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/profile-pic.jpeg" id="icon" alt="User Icon" />
                        </div>
                        <div class="col-lg-6 col-sm-12">

                            <h6 class="banner-text para" style="font-family: 'Microma', sans-serif;">I am Ashutosh Kumar, a B.Tech graduate from NIT Patna, with 3+ years of experience in Software Development.
                              Currently, I am employed at Digantara, a space-based startup.
                            </h6>
                            <input class="more" type="button" value="Read More >>>" [routerLink]="'/about'">

                        </div>
                        <div class="col-lg-6" *ngIf="!is_mobile">
                            <img src="https://raw.githubusercontent.com/sukul9015/my-portfolio/gh-pages/assets/profile-pic.jpeg" id="icon" alt="User Icon" />
                        </div>
                    </div>
                </div>
        </div>

    </section>

    <section class="content">
      <h1>Skills</h1>
      <div class="row">
        <div class="col-lg-3">
          <div class="container">
            <h4>Golang</h4>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="container">
            <h4>Nest.js</h4>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="container">
            <h4>Postgres</h4>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="container">
            <h4>RabbitMQ</h4>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3">
          <div class="container">
            <h4>TimescaleDB</h4>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="container">
            <h4>Vue.js</h4>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="container">
            <h4>Docker</h4>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="container">
            <h4>System Design</h4>
          </div>
        </div>
      </div>
    </section>




</div>
